<div
  class="board"
  [style.--cols]="game.cols"
  [style.--rows]="game.rows"
  tabindex="0"
  #boardEl
  (click)="onClick($event)"
  (mousedown)="isMouseDown = true"
  (mouseup)="isMouseDown = false"
  (mouseleave)="isMouseDown = false"
  (dragstart)="$event.preventDefault()"
  (mousemove)="onMouseMove($event)"
>
  @for (cell of game.grid(); track $index) {
    <div
      class="cell"
      [class.alive]="cell"
      [class.cursor]="$index === game.cursorIndex()"
      [attr.data-index]="$index"
    ></div>
  }
  @if (showDialog()) {
    <app-dialog (close)="closeDialog()" (accept)="acceptDialog()" acceptLabel="Got It">
      <h2>Controls</h2>
      <p>Use Arrow keys or W, A, S, D to move the cursor</p>
      <p>Use Enter or Space keys to select/deselect a cell</p>
      <p>Or.....</p>
      <p>Simply use mouse(can draw)</p>
    </app-dialog>
  }
</div>
