.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 1px;
  background-color: black;
  border: 1px solid;
}

.cell {
  aspect-ratio: 1;
  background-color: #c8c8c8;
  border-radius: 5px;
  cursor: pointer;
}

.cell.alive {
  border-radius: 20px;
  background-color: green;
}

.cell.cursor {
  box-shadow: inset 0 0 0 2px #fff;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  50% {
    box-shadow: inset 0 0 0 2px #fff;
  }
  51%,
  100% {
    box-shadow: inset 0 0 0 2px transparent;
  }
}
