.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  gap: 1px;
  background-color: black;
  border: 1px solid;
}

.cell {
  aspect-ratio: 1;
  background-color: #c8c8c8;
  border-radius: 5px;
  cursor: pointer;
}

.cell.alive {
  border-radius: 20px;
  background-color: green;
}
